ul{
  list-style-type: none;
  text-align: center;
  margin: 0;
}
li{
  display: inline-block;
  margin: 0 10px;
}
a{
  color: white;
  text-decoration: none;
  padding: 15px 35px;
  border-radius: 5px;
}
nav{
  background: #494166;
  padding: 35px 0;
  margin-bottom: 45px;
}
.router-link-active{
  background: rgba(255,255,255,0.8);
  color: #444;
}
button{
  color: rgb(255, 255, 255);
  padding: 15px 35px;
  border-radius: 5px;
}
button:hover{
  background: rgba(255,255,255,0.8);
  color: #444;
}
